/* Body Background Styling */
body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100%;
  min-height: 100%;
}

/* Map Settings */
#map{
  height:400px;
  width: 25%;
}


/* NAV BAR MENU STYLING  ----------------------------------------------------- */
.nav ul{
  float: left;
  width:100%;
  padding:15px;
}

.nav li{
  display: inline-block;
  position: relative;
  float:left;

}

.line-brake-nav{
  list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

.nav li a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    margin: 15px;
}

.nav li a:hover {
    transition: ease-in-out .20s;
    color:#81776E;
    cursor: pointer;
}

.nav li a.active {
  color:#81776E;
}



#beans-header{
  font-family:"Merriweather",serif;
  font-size:110px;
  color:white;
  margin-left:20%;
  padding-top:7%;
 
 
}

#and-header{
  font-family:"Merriweather",serif;
  font-size:200px;
  color:gray;
  margin-left:43%;
  margin-top:-7%;

 
}



/* REALLY FUCKING WET CODE --------------------------------------------------- */
#content-index {
  top:-100px;
  height: 650px;
  margin: 0 auto;
  margin-left;
  position: relative;
  width: 5%;
  margin-left:66.9%;
}

#content-index div { 
  position: absolute; 
}



.line-1, .line-2, .line-3, .line-4, .line-5, .line-6,
.line-7, .line-8, .line-9, .line-10, .line-11, .line-12,
.line-13, .line-14, .line-15, .line-16, .line-17, .line-18,
.line-19, .line-20, .line-21, .line-22, .line-23, .line-24, .line-25{
  position: absolute;
  content: '';
  background-color: white;
}

.line-1{
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: 0s;
    animation-direction:left;
}
@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-2{
  top:25px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .05s;
    animation-direction:left;
}
@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-3{
  top:50px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .1s;
    animation-direction:left;
}
@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-4{
  top:75px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .15s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-5{
  top:100px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .2s;
    animation-direction:left;
}
@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-6{
  top:125px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .25s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}


.line-7{
  top:150px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .3s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-8{
  top:175px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .35s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-9{
  top:200px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .40s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-10{
  top:225px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .45s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-11{
  top:250px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .5s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-12{
  top:275px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .55s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-13{
  top:300px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .6s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-14{
  top:325px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .65s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-15{
  top:350px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .70s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-16{
  top:375px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .75s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-17{
  top:400px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .8s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-18{
  top:425px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .85s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-19{
  top:450px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: .9s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-20{
  top:475px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: 1.0s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-21{
  top:500px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: 1.05s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-22{
  top:525px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: 1.1s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-23{
  top:550px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: 1.15s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-24{
  top:575px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: 1.2s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}

.line-25{
  top:600px;
  position: absolute;
  content: '';
  background-color: white;
  width:100%;
  height:12px;
  z-index: 20;
    animation-name:slide; 
    animation-duration:2s;
    animation-delay: 1.25s;
    animation-direction:left;
}

@keyframes slide {
    from {right: -500%;}
    to {right: 0;}
}








/* BEANS AND BREWS ANIMATION SYTLING ------------------------------------------ */

#logo{
  width:50%;
  margin-left:20%;
}

#container {
  border:1px solid black;
  height: 370px;
  margin: 0 auto;
  margin-left;
  overflow: hidden;
  position: relative;
  top: -20px;
  width: 600px;

}

#container div { position: absolute; }

/* Beans Animation */
.beans {
  display: none;
  position: absolute;
  bottom: 0;
}

.bean-1, .bean-2, .bean-3, .bean-4, .bean-5,
.bean-6, .bean-7, .bean-8, .bean-9{
  background-color: #2a140e;
  bottom: 0;
  z-index: 1000;
  content: '';
  height: 30px;
  width: 45px;
  border-radius: 15px;
}

.bean-line-1, .bean-line-2, .bean-line-3, .bean-line-4, .bean-line-5, 
.bean-line-6, .bean-line-7, .bean-line-8, .bean-line-9{
  position:relative;
  background-color: #4a3418;
  bottom: 0;
  z-index: 1001;
  content: '';
  height: 6px;
  width: 45px;
  border-radius: 50px;
  bottom:12px;
}
  

.bean-1 {
  bottom:5px;
  left:125px;
  transform: rotate(110deg);
  -webkit-transform: rotate(110deg);
}

.bean-2 {
  bottom:5px;
  left:90px;
  transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
}

.bean-3 {
  left:60px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.bean-4 {
  bottom:5px;
  left:378px;
  transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
}

.bean-5 {
  left:5px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.bean-6 {
  left:475px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.bean-7 {
  bottom:31px;
  left:405px;
  transform: rotate(16deg);
  -webkit-transform: rotate(16deg);
}

.bean-8 {
  bottom:2px;
  left:415px;
  transform: rotate(30deg);
  -webkit-transform: rotate(22deg);
}

.bean-9 {
  bottom:3px;
  left:517px;
  transform: rotate(0deg);
  -webkit-transform: rotate(30deg);
}

/* Pour Beer Streem */
.pour {
  position: absolute;
  left: 35%;
  width: 20px;
  height: 0px;
  background-color: #edaf32;
  border-radius: 10px
}

/* Large Outer Handel */
#large-handel{
  border: 10px solid #FFF;
  border-radius: 0 50px 50px 0;
  left: 375px;
  height: 175px;
  margin-top:140px;
  width: 60px;
}

/* Smaller Inner Handel */
#small-handel{
  border: 10px solid #FFF;
  border-radius: 0 30px 30px 0;
  left: 375px;
  height: 135px;
  margin-top:160px;
  width: 40px;

}

/* Beer Mug */
#beaker {
  border: 10px solid #FFF;
  border-radius: 0 0 30px 30px;
  height: 250px;
  left: 165px;
  bottom: 0;
  width: 200px;
}

#beaker:before,
#beaker:after {
  border: 10px solid #FFF;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
  height: 30px;
  position: absolute;
  top: -40px;
  width: 30px;
}

#beaker:before { left: -50px; }
#beaker:after { right: -50px; }


/* Beer Liquid */
#liquid {
  background-color: #edaf32;
  border: 10px solid #edaf32;
  border-radius: 0 0 20px 20px;
  bottom: 0;
  height: 0px;
  overflow: hidden;
  width: 180px;
}

/* Beer Mug Lines - Faded */
.beer-line{
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -225px;
  content: '';
  border-radius:10px;
  height: 250px;
  position: absolute;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  width: 35px;
}

.beer-line-1{
  left: 0;

}

.beer-line-2{
  left:48px;

}

.beer-line-3{
  margin-left: 95px;

}

.beer-line-4{
  margin-left: 142px;
}

/* Beer Bubbles Animation */
#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@-webkit-keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

.bubble1 {
  left: 10px;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
}

.bubble2 {
  left: 50px;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms;
}

.bubble3 {
  left: 100px;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms;
}

.bubble4 {
  left: 130px;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms;
}

.bubble5 {
  left: 170px;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms;
}

/* Foam */
.beer-foam {
  position: absolute;
  bottom: 10px;
}

.foam-1, .foam-2, .foam-3, .foam-4,
.foam-5, .foam-6, .foam-7 {
  float: left;
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe;
}
.foam-1 {
  top: -30px;
  left: -10px;
}
.foam-2 {
  top: -35px;
  left: 20px;
}
.foam-3 {
  top: -25px;
  left: 50px;
}
.foam-4 {
  top: -35px;
  left: 80px;
}
.foam-5 {
  top: -30px;
  left: 110px;
}
.foam-6 {
  top: -20px;
  left: 140px;
}
.foam-7 {
  top: -30px;
  left: 160px;
}

/* Fill Me Up Button Formating */
#fill-me-up{
  list-style-type: none;
  text-decoration: none;
  border:1px solid white;
  background: none;
  color:white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  padding:10px 15px;
  margin-left:30%;
}


/* SEARCH PAGE STYLING -------------------------------------------------------*/









/* ABOUT PAGE STYLING ---------------------------------------------------------*/
.about-us-body h1{
  font-family: "Merriweather", serif;
  font-size: 50px;
  padding:8% 4% 4% 4%;
  color:#594B3E;
}

.about-us-body p{
  font-family:"Raleway", sans-serif;
  color: #81776E;
  width:90%;
  font-size:24px;
  margin-left:4%;
  margin-right:6%
}


.about-us-connect h2{
  font-family: "Merriweather", serif;
  font-size: 35px;
  padding:8% 4% 2% 4%;
  color:#594B3E;
}

#ph-about{
   font-family:"Raleway", sans-serif;
  color: #81776E;
  width:90%;
  font-size:24px;
  margin-left:4%;
  margin-right:6%
}






/* INSTRUCTIONS PAGE STYLING --------------------------------------------------*/






